<InputFile OnChange="@HandleSelected" style="display:none;" id="file-upload"/>

<button type="button" class="btn btn-info"
		onclick="document.getElementById('file-upload').click()">
	Select a File
</button>
<span class="image-name">@_fileUploadMessage</span>

@if(arquivo != null)
{
	<div>
		<img class="image" src="data:image/gif;base64,@_content">

		<img class="image-preview" src="data:image/gif;base64,@_content">
		
	</div>
}