/* /Components/AeroVendasTable.razor.rz.scp.css */
@keyframes spin-right-b-l13itxhdv7 {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes flying-b-l13itxhdv7 {
    .text-shadow (@color, @x, @y, @diffuse) {
        -moz-text-shadow: @color @x @y @diffuse;
        -webkit-text-shadow: @color @x @y @diffuse;
        text-shadow: @color @x @y @diffuse;
    }

    0% {
        .text-shadow(rgba(0,0,0,0.42), 0px, 0px, 0px);
        font-size: 60px;
    }

    15% {
        .text-shadow(rgba(0,0,0,0.42), 3px, 3px, 3px);
        font-size: 63px;
    }

    25% {
        .text-shadow(rgba(0,0,0,0.42), 10px, 10px, 20px);
        font-size: 70px;
    }

    50% {
        .text-shadow(rgba(0,0,0,0.42), 10px, -10px, 20px);
    }

    75% {
        .text-shadow(rgba(0,0,0,0.42), -10px, -10px, 20px);
        font-size: 70px;
    }

    85% {
        .text-shadow(rgba(0,0,0,0.42), -3px, -3px, 3px);
        font-size: 63px;
    }

    100% {
        .text-shadow(rgba(0,0,0,0.42), 0px, 0px, 0px);
        font-size: 60px;
    }
}

.positioning-container[b-l13itxhdv7] {
    position: absolute;
    z-index: 500;
    height: 100%;
    width: 100%;
    text-align: center;
}

.spinning-container[b-l13itxhdv7] {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 75%;
    animation: spin-right-b-l13itxhdv7 8s ease-in-out infinite;
    padding: 25px;
}

.airplane-container[b-l13itxhdv7] {
    transform: rotate(45deg);
    .fa.fa-plane

{
    margin: 0;
    color: #00ACE4;
    animation: flying-b-l13itxhdv7 8s linear infinite;
}
}
/* /Components/Cidades.razor.rz.scp.css */
.search-input[b-9swgr1luqw] {
	margin-bottom: 10px;
}
/* /Components/Home.razor.rz.scp.css */



#bg[b-na00wslyz4] {
    position: fixed;
    top: 0;
    left: 250px;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

/* /Components/PageSizeDropDown.razor.rz.scp.css */
.form-control[b-lh94fr56fz] {
	width: auto;
	float: right;
}
/* /Components/Search.razor.rz.scp.css */
.search-input[b-u10iee6wf6] {
	margin-bottom: 10px;
}
/* /Pages/ContratosSemAero.razor.rz.scp.css */

@page {
    size: landscape;
   
    margin:  2cm 0cm 2cm 0cm; 
}

@page:first {
    margin: 1cm 0cm 2cm 0cm;
}


@page {
    @bottom-left {
        content: 'Página ' counter(page) ' de ' counter(pages);
    }
}
/*
body {
    counter-reset: page;
} 

#content {
    display:table;
}

#pageFooter {
    display: table-footer-group;
    counter-increment: page;
}
    #pageFooter:after {
        content: "Página " counter(page);
        left: 0;
        top: 100%;
        white-space: nowrap;
        z-index: 20;
        -moz-border-radius: 5px;
        -moz-box-shadow: 0px 0px 4px #222;
        background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    }*/
/* /Pages/CustomNotFound.razor.rz.scp.css */
.customNotFound[b-1nw1yyp3ri] {
	text-align: center;
	color: red;
	font-size: 35px;
	height:800px;
	box-shadow: 1px 1px 1px grey;
	background-image: url("assets/404.jpg");
	background-repeat: no-repeat;
}
/* /Pages/Index.razor.rz.scp.css */
.center[b-qdqmij07tl] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
}


/* /Pages/JSInterop2.razor.rz.scp.css */
.coordinates[b-8cl442l9pj] {
	height: 200px;
	width: 400px;
	background-color: #d6d8d6;
	text-align: center;
	font-size: 20px;
}
/* /Pages/Login.razor.rz.scp.css */
.toast-top-center[b-q1ybpv6szd] {
    top: 22px !important;
    margin: 0 auto;
    left: 50%;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-s3epnszf9b] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-s3epnszf9b] {
    flex: 1;
}

.sidebar[b-s3epnszf9b] {
    background-image: linear-gradient(180deg, rgb(4, 94, 17) 0%, #038a3b 70%);
}

.top-row[b-s3epnszf9b] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-s3epnszf9b]  a, .top-row[b-s3epnszf9b]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-s3epnszf9b]  a:hover, .top-row[b-s3epnszf9b]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-s3epnszf9b]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-s3epnszf9b] {
        display: none;
    }

    .top-row.auth[b-s3epnszf9b] {
        justify-content: space-between;
    }

    .top-row[b-s3epnszf9b]  a, .top-row[b-s3epnszf9b]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-s3epnszf9b] {
        flex-direction: row;
    }

    .sidebar[b-s3epnszf9b] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-s3epnszf9b] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-s3epnszf9b]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-s3epnszf9b], article[b-s3epnszf9b] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-l952sp7d0b] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-l952sp7d0b] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-l952sp7d0b] {
    font-size: 1.1rem;
}

.oi[b-l952sp7d0b] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-l952sp7d0b] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-l952sp7d0b] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-l952sp7d0b] {
        padding-bottom: 1rem;
    }

    .nav-item[b-l952sp7d0b]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-l952sp7d0b]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-l952sp7d0b]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-l952sp7d0b] {
        display: none;
    }

    .collapse[b-l952sp7d0b] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
