
@page {
    size: landscape;
   
    margin:  2cm 0cm 2cm 0cm; 
}

@page:first {
    margin: 1cm 0cm 2cm 0cm;
}


@page {
    @bottom-left {
        content: 'Página ' counter(page) ' de ' counter(pages);
    }
}

.table thead tr th[b-ovsc9gkbb1] {
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    padding: 12px !important;
    border: none !important;
}
