<AuthorizeView>
	<Authorized>
		Olá, @context.User.Identity.Name!

		<a href="Logout">Log out</a>

	</Authorized>

	<NotAuthorized>
		<a href="Login">Log in</a>
	</NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="Administrator">
	<Authorized>

		<a href="Register">Registrar</a>

	</Authorized>
</AuthorizeView>