	<ul class="pagination hidden-xs pull-right">
		@foreach (var link in _links)
		{
			<li @onclick="() => OnSelectedPage(link)" style="cursor: pointer"
				class="pagination hidden-xs pull-right @(link.Enabled ? null : "disabled")
				@(link.Active ? "active" : null)">
					@link.Text

			</li>
		}
	</ul>


 