<div class="form-floating shadow">
	<input type="text" class="form-control" placeholder="Procura..."
		   @bind-value="@SearchTerm" @bind-value:event="oninput"
		   @onkeyup="SearchChanged"
		   id="floatingSearch" />
	<label for="floatingSearch">Procura...</label>
</div>

