<div class="btn_group">
	<input type="text" class="form-control" placeholder="Procura..."
		   @bind-value="@SearchTerm" @bind-value:event="oninput"
		   @onkeyup="SearchChanged"
		   id="floatingSearch" />
	
</div>

