<div class="form-floating shadow">


	<select class="form-select" id="floatingSelectSort" aria-label="Floating Sort" @onchange="ApplySort">
		<option value="" selected="selected"></option>
		<option value="CriadoEm">Criado Em</option>
		<option value="CriadoEm desc">Criado Em: Descendente</option>
		<option value="Nome">Nome</option>
		<option value="Nome desc">Nome: Descendente</option>
	</select>
	<label for="floatingSelectSort">Ordenar Por</label>
</div>