<div class="form-floating shadow">


	<select class="form-select" id="floatingSelectSort" aria-label="Floating Sort" @onchange="ApplySort">
		<option value="" selected="selected"></option>
		<option value="CriadoEm">Criado Em</option>
		<option value="CriadoEm desc">Criado Em: Descendente</option>
		<option value="CriadoPor">Criado Por</option>
		<option value="CriadoPor desc">Criado Por: Descendente</option>

	</select>
	<label for="floatingSelectSort">Ordenar Por</label>
</div>