<div class="form-floating shadow">


	<select class="form-select" id="floatingSelectSort" aria-label="Floating Sort" @onchange="ApplySort">

		<option value="" selected="selected"></option>
		<option value="Contrato">Contrato</option>
		<option value="Contrato desc">Contrato: Descendente</option>
		<option value="NomeBeneficiario">Nome Beneficiário</option>
		<option value="NomeBeneficiario desc">Nome Beneficiário: Descendente</option>
		<option value="CodigoBeneficiario">Carteirinha</option>
		<option value="CodigoBeneficiario desc">Carteirinha: Descendente</option>


	</select>
	<label for="floatingSelectSort">Ordenar Por</label>
</div>