<div class="form-floating shadow">


	<select class="form-select" id="floatingSelectSort" aria-label="Floating Sort" @onchange="ApplySort">

		<option value="" selected="selected"></option>
		<option value="contrato">Contrato</option>
		<option value="contrato desc">Contrato: Descendente</option>
		<option value="Beneficiario">NomeBeneficiario</option>
		<option value="Beneficiario desc">NomeBeneficiario: Descendente</option>
		<option value="Carteirinha">CodigoBeneficiario</option>
		<option value="Carteirinha desc">CodigoBeneficiario: Descendente</option>


	</select>
	<label for="floatingSelectSort">Ordenar Por</label>
</div>