@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';

/* /Components/AeroVendasTable.razor.rz.scp.css */
@keyframes spin-right-b-l13itxhdv7 {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes flying-b-l13itxhdv7 {
    .text-shadow (@color, @x, @y, @diffuse) {
        -moz-text-shadow: @color @x @y @diffuse;
        -webkit-text-shadow: @color @x @y @diffuse;
        text-shadow: @color @x @y @diffuse;
    }

    0% {
        .text-shadow(rgba(0,0,0,0.42), 0px, 0px, 0px);
        font-size: 60px;
    }

    15% {
        .text-shadow(rgba(0,0,0,0.42), 3px, 3px, 3px);
        font-size: 63px;
    }

    25% {
        .text-shadow(rgba(0,0,0,0.42), 10px, 10px, 20px);
        font-size: 70px;
    }

    50% {
        .text-shadow(rgba(0,0,0,0.42), 10px, -10px, 20px);
    }

    75% {
        .text-shadow(rgba(0,0,0,0.42), -10px, -10px, 20px);
        font-size: 70px;
    }

    85% {
        .text-shadow(rgba(0,0,0,0.42), -3px, -3px, 3px);
        font-size: 63px;
    }

    100% {
        .text-shadow(rgba(0,0,0,0.42), 0px, 0px, 0px);
        font-size: 60px;
    }
}

.positioning-container[b-l13itxhdv7] {
    position: absolute;
    z-index: 500;
    height: 100%;
    width: 100%;
    text-align: center;
}

.spinning-container[b-l13itxhdv7] {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 75%;
    animation: spin-right-b-l13itxhdv7 8s ease-in-out infinite;
    padding: 25px;
}

.airplane-container[b-l13itxhdv7] {
    transform: rotate(45deg);
    .fa.fa-plane

{
    margin: 0;
    color: #00ACE4;
    animation: flying-b-l13itxhdv7 8s linear infinite;
}
}
/* /Components/Cidades.razor.rz.scp.css */
.search-input[b-9swgr1luqw] {
	margin-bottom: 10px;
}
/* /Components/Home.razor.rz.scp.css */



#bg[b-na00wslyz4] {
    position: fixed;
    top: 0;
    left: 250px;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

/* /Components/PageSizeDropDown.razor.rz.scp.css */
.form-control[b-lh94fr56fz] {
	width: auto;
	float: right;
}
/* /Components/Search.razor.rz.scp.css */
.search-input[b-u10iee6wf6] {
	margin-bottom: 10px;
}
/* /Pages/ContratosSemAero.razor.rz.scp.css */

@page {
    size: landscape;
   
    margin:  2cm 0cm 2cm 0cm; 
}

@page:first {
    margin: 1cm 0cm 2cm 0cm;
}


@page {
    @bottom-left {
        content: 'Página ' counter(page) ' de ' counter(pages);
    }
}
/*
body {
    counter-reset: page;
} 

#content {
    display:table;
}

#pageFooter {
    display: table-footer-group;
    counter-increment: page;
}
    #pageFooter:after {
        content: "Página " counter(page);
        left: 0;
        top: 100%;
        white-space: nowrap;
        z-index: 20;
        -moz-border-radius: 5px;
        -moz-box-shadow: 0px 0px 4px #222;
        background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    }*/
/* /Pages/CustomNotFound.razor.rz.scp.css */
.customNotFound[b-1nw1yyp3ri] {
	text-align: center;
	color: red;
	font-size: 35px;
	height:800px;
	box-shadow: 1px 1px 1px grey;
	background-image: url("assets/404.jpg");
	background-repeat: no-repeat;
}
/* /Pages/Index.razor.rz.scp.css */
.center[b-qdqmij07tl] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
}


/* /Pages/JSInterop2.razor.rz.scp.css */
.coordinates[b-8cl442l9pj] {
	height: 200px;
	width: 400px;
	background-color: #d6d8d6;
	text-align: center;
	font-size: 20px;
}
/* /Pages/Login.razor.rz.scp.css */
.toast-top-center[b-q1ybpv6szd] {
    top: 22px !important;
    margin: 0 auto;
    left: 50%;
}
/* /Pages/MensagemHTML.razor.rz.scp.css */
.demo[b-u57b2qsjbe] {
    font-family: 'Noto Sans', sans-serif;
}

.panel[b-u57b2qsjbe] {
    background: linear-gradient(to right, #2980b9, #2c3e50);
    padding: 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.05),0 0 0 10px rgba(0,0,0,0.05);
}

    .panel .panel-heading[b-u57b2qsjbe] {
        padding: 20px 15px;
        border-radius: 10px 10px 0 0;
        margin: 0;
    }

        .panel .panel-heading .title[b-u57b2qsjbe] {
            color: #fff;
            font-size: 28px;
            font-weight: 500;
            text-transform: capitalize;
            line-height: 40px;
            margin: 0;
        }

        .panel .panel-heading .btn[b-u57b2qsjbe] {
            color: rgba(255,255,255,0.5);
            background: transparent;
            font-size: 16px;
            text-transform: capitalize;
            border: 2px solid #fff;
            border-radius: 50px;
            transition: all 0.3s ease 0s;
        }

            .panel .panel-heading .btn:hover[b-u57b2qsjbe] {
                color: #fff;
                text-shadow: 3px 3px rgba(255,255,255,0.2);
            }

        .panel .panel-heading .form-control[b-u57b2qsjbe] {
            color: #fff;
            background-color: transparent;
            width: 35%;
            height: 40px;
            border: 2px solid #fff;
            border-radius: 20px;
            display: inline-block;
            transition: all 0.3s ease 0s;
        }

            .panel .panel-heading .form-control:focus[b-u57b2qsjbe] {
                background-color: rgba(255,255,255,0.2);
                box-shadow: none;
                outline: none;
            }

            .panel .panel-heading .form-control[b-u57b2qsjbe]::placeholder {
                color: rgba(255,255,255,0.5);
                font-size: 15px;
                font-weight: 500;
            }

    .panel .panel-body[b-u57b2qsjbe] {
        padding: 0;
    }

        .panel .panel-body .table thead tr th[b-u57b2qsjbe] {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.2);
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            padding: 12px;
            border: none;
        }

        .panel .panel-body .table tbody tr td[b-u57b2qsjbe] {
            color: #fff;
            font-size: 15px;
            padding: 10px 12px;
            vertical-align: middle;
            border: none;
        }

        .panel .panel-body .table tbody tr:nth-child(even)[b-u57b2qsjbe] {
            background-color: rgba(255,255,255,0.05);
        }

        .panel .panel-body .table tbody .action-list[b-u57b2qsjbe] {
            padding: 0;
            margin: 0;
            list-style: none;
        }

            .panel .panel-body .table tbody .action-list li[b-u57b2qsjbe] {
                display: inline-block;
                margin: 0 5px;
            }

                .panel .panel-body .table tbody .action-list li a[b-u57b2qsjbe] {
                    color: #fff;
                    font-size: 15px;
                    position: relative;
                    z-index: 1;
                    transition: all 0.3s ease 0s;
                }

                    .panel .panel-body .table tbody .action-list li a:hover[b-u57b2qsjbe] {
                        text-shadow: 3px 3px 0 rgba(255,255,255,0.3);
                    }

                    .panel .panel-body .table tbody .action-list li a[b-u57b2qsjbe]:before,
                    .panel .panel-body .table tbody .action-list li a[b-u57b2qsjbe]:after {
                        content: attr(data-tip);
                        color: #fff;
                        background-color: #111;
                        font-size: 12px;
                        padding: 5px 7px;
                        border-radius: 4px;
                        text-transform: capitalize;
                        display: none;
                        transform: translateX(-50%);
                        position: absolute;
                        left: 50%;
                        top: -32px;
                        transition: all 0.3s ease 0s;
                    }

                    .panel .panel-body .table tbody .action-list li a[b-u57b2qsjbe]:after {
                        content: '';
                        height: 15px;
                        width: 15px;
                        padding: 0;
                        border-radius: 0;
                        transform: translateX(-50%) rotate(45deg);
                        top: -18px;
                        z-index: -1;
                    }

                    .panel .panel-body .table tbody .action-list li a:hover[b-u57b2qsjbe]:before,
                    .panel .panel-body .table tbody .action-list li a:hover[b-u57b2qsjbe]:after {
                        display: block;
                    }

    .panel .panel-footer[b-u57b2qsjbe] {
        color: #fff;
        background-color: transparent;
        padding: 15px;
        border: none;
    }

        .panel .panel-footer .col[b-u57b2qsjbe] {
            line-height: 35px;
        }

.pagination[b-u57b2qsjbe] {
    margin: 0;
}

    .pagination li a[b-u57b2qsjbe] {
        color: #fff;
        background-color: transparent;
        border: 2px solid transparent;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 31px;
        width: 35px;
        height: 35px;
        padding: 0;
        margin: 0 3px;
        border-radius: 50px;
        transition: all 0.3s ease 0s;
    }

        .pagination li a:hover[b-u57b2qsjbe] {
            color: #fff;
            background-color: transparent;
            border-color: rgba(255,255,255,0.2);
        }

        .pagination li a:focus[b-u57b2qsjbe],
        .pagination li.active a[b-u57b2qsjbe],
        .pagination li.active a:hover[b-u57b2qsjbe] {
            color: #fff;
            background-color: transparent;
            border-color: #fff;
        }

    .pagination li:first-child a[b-u57b2qsjbe],
    .pagination li:last-child a[b-u57b2qsjbe] {
        border-radius: 50%;
    }

@media only screen and (max-width:767px) {
    .panel .panel-heading .title[b-u57b2qsjbe] {
        text-align: center;
        margin: 0 0 10px;
    }

    .panel .panel-heading .btn_group[b-u57b2qsjbe] {
        text-align: center;
    }
}
/* /Pages/MensagemHTMLCopia.razor.rz.scp.css */
.panel[b-5ra6rjy9cc] {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

    .panel .panel-heading[b-5ra6rjy9cc] {
        background: #535353;
        padding: 15px;
        border-radius: 0;
    }

        .panel .panel-heading .btn[b-5ra6rjy9cc] {
            color: #fff;
            background-color: #000;
            font-size: 14px;
            font-weight: 600;
            padding: 7px 15px;
            border: none;
            border-radius: 0;
            transition: all 0.3s ease 0s;
        }

            .panel .panel-heading .btn:hover[b-5ra6rjy9cc] {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }

        .panel .panel-heading .form-horizontal .form-group[b-5ra6rjy9cc] {
            margin: 0;
        }

        .panel .panel-heading .form-horizontal label[b-5ra6rjy9cc] {
            color: #fff;
            margin-right: 10px;
        }

        .panel .panel-heading .form-horizontal .form-control[b-5ra6rjy9cc] {
            display: inline-block;
            width: 80px;
            border: none;
            border-radius: 0;
        }

            .panel .panel-heading .form-horizontal .form-control:focus[b-5ra6rjy9cc] {
                box-shadow: none;
                border: none;
            }

    .panel .panel-body[b-5ra6rjy9cc] {
        padding: 0;
        border-radius: 0;
    }

        .panel .panel-body .table thead tr th[b-5ra6rjy9cc] {
            color: #fff;
            background: #8D8D8D;
            font-size: 17px;
            font-weight: 700;
            padding: 12px;
            border-bottom: none;
        }

            .panel .panel-body .table thead tr th:nth-of-type(1)[b-5ra6rjy9cc] {
                width: 120px;
            }

            .panel .panel-body .table thead tr th:nth-of-type(3)[b-5ra6rjy9cc] {
                width: 50%;
            }

        .panel .panel-body .table tbody tr td[b-5ra6rjy9cc] {
            color: #555;
            background: #fff;
            font-size: 15px;
            font-weight: 500;
            padding: 13px;
            vertical-align: middle;
            border-color: #e7e7e7;
        }

        .panel .panel-body .table tbody tr:nth-child(odd) td[b-5ra6rjy9cc] {
            background: #f5f5f5;
        }

        .panel .panel-body .table tbody .action-list[b-5ra6rjy9cc] {
            padding: 0;
            margin: 0;
            list-style: none;
        }

            .panel .panel-body .table tbody .action-list li[b-5ra6rjy9cc] {
                display: inline-block;
            }

                .panel .panel-body .table tbody .action-list li a[b-5ra6rjy9cc] {
                    color: #fff;
                    font-size: 13px;
                    line-height: 28px;
                    height: 28px;
                    width: 33px;
                    padding: 0;
                    border-radius: 0;
                    transition: all 0.3s ease 0s;
                }

                    .panel .panel-body .table tbody .action-list li a:hover[b-5ra6rjy9cc] {
                        box-shadow: 0 0 5px #ddd;
                    }

    .panel .panel-footer[b-5ra6rjy9cc] {
        color: #fff;
        background: #535353;
        font-size: 16px;
        line-height: 33px;
        padding: 25px 15px;
        border-radius: 0;
    }

.pagination[b-5ra6rjy9cc] {
    margin: 0;
}

    .pagination li a[b-5ra6rjy9cc] {
        color: #fff;
        background-color: rgba(0,0,0,0.3);
        font-size: 15px;
        font-weight: 700;
        margin: 0 2px;
        border: none;
        border-radius: 0;
        transition: all 0.3s ease 0s;
    }

        .pagination li a:hover[b-5ra6rjy9cc],
        .pagination li a:focus[b-5ra6rjy9cc],
        .pagination li.active a[b-5ra6rjy9cc] {
            color: #fff;
            background-color: #000;
            box-shadow: 0 0 5px rgba(0,0,0,0.4);
        }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-s3epnszf9b] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-s3epnszf9b] {
    flex: 1;
}

.sidebar[b-s3epnszf9b] {
    background-image: linear-gradient(180deg, rgb(4, 94, 17) 0%, #038a3b 70%);
}

.top-row[b-s3epnszf9b] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-s3epnszf9b]  a, .top-row[b-s3epnszf9b]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-s3epnszf9b]  a:hover, .top-row[b-s3epnszf9b]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-s3epnszf9b]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-s3epnszf9b] {
        display: none;
    }

    .top-row.auth[b-s3epnszf9b] {
        justify-content: space-between;
    }

    .top-row[b-s3epnszf9b]  a, .top-row[b-s3epnszf9b]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-s3epnszf9b] {
        flex-direction: row;
    }

    .sidebar[b-s3epnszf9b] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-s3epnszf9b] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-s3epnszf9b]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-s3epnszf9b], article[b-s3epnszf9b] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-l952sp7d0b] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-l952sp7d0b] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-l952sp7d0b] {
    font-size: 1.1rem;
}

.oi[b-l952sp7d0b] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-l952sp7d0b] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-l952sp7d0b] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-l952sp7d0b] {
        padding-bottom: 1rem;
    }

    .nav-item[b-l952sp7d0b]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-l952sp7d0b]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-l952sp7d0b]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-l952sp7d0b] {
        display: none;
    }

    .collapse[b-l952sp7d0b] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
