@page "/EditorWidgetMensagem/{mensagemHtmlId:guid}"

@using TinyMCE.Blazor




<Editor  @bind-Value=content ApiKey ="Fzx94ksz5pf42cvc074lz2yikzw5x780fg8y6501jwkwoat0" Disable=@disable Conf="@editorConf" />


@*<button @onclick="@(() => disable = !disable)">Toggle</button>*@


