@page "/MensagemHTML"
@using AeroVendas.ULF.Cliente.Components
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<div id="content">

	<div class="panel-heading h1">Contratos sem Aero</div>
	<div class="panel-body">
		<div class="row mb-3">

			<div class="col-md-5">
				<Search OnSearchChanged="SearchChanged" />
			</div>
			<div class="col-md-5">
			</div>
			<div class="col-md-2">
				<Sort OnSortChanged="SortChanged" />
			</div>

		</div>
	</div>


	<div class="row">
		<div class="col hideWhenPrint">
			<Pagination MetaData="MetaData" Spread="1" SelectedPage="SelectedPage" />
		</div>

		<div class="col-md-1 hideWhenPrint">
			<PageSizeDropDown SelectedPageSize="SetPageSize" />
		</div>
	</div>
	<div class="row">

		<div class="col">
			<MensagensHtmlTable mensagensHTML="MensagemList" OnDelete="DeleteMensagem" Aguardando="Aguardando" />
		</div>

	</div>
</div>
<div class="row">
	<div class="col hideWhenPrint">
		<Pagination MetaData="MetaData" Spread="1" SelectedPage="SelectedPage" />
	</div>
</div>